.header {
  background-color: var(--gray-700);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: relative;
}

.logo {
  height: 3rem;
}

.newTask {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  bottom: -1.6875rem;
  width: min(736px, 90%);
  align-items: center;
}